# Node modules
node_modules/

# Bun lockfile
bun.lockb

# Build directory
dist/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Database files
*.db
*.sqlite

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build artifacts
*.so
